In [7]:
from snscrape.modules.twitter import TwitterSearchScraper
import pandas as pd

query = "STEM EDUCATION"
tweets = []
limit = 500
for tweet in TwitterSearchScraper(query).get_items():
    if len(tweets) == limit:
        break
    else:
            tweets.append([tweet.date,tweet.user.username,tweet.rawContent])
df = pd.DataFrame(tweets,columns = ['Date','username','content'])
df

,Date,username,content
0,2023-04-17 07:35:56+00:00,block_hakase,Á¨¨42Êúü„Åì„Å©„ÇÇÁ†îÁ©∂Âì°ÂãüÈõÜ!!\n5Êúà„Çà„Çä„Äå„É≠„Éú„ÉÉ„Éà„Å®„Åø„Çâ„ÅÑÁ†îÁ©∂‰ºö„Äç„ÅÆÊñ∞„Åó„ÅÑÊúü„ÅåÂßã„Åæ„Çä„Åæ„Åô\n...
1,2023-04-17 07:35:23+00:00,nsbeap,We are forever grateful for this amazing exper...
2,2023-04-17 07:27:00+00:00,ciecyork,Children from Harrowgate primary during their ...
3,2023-04-17 07:25:59+00:00,TheGiftsDepot,USA STORE ONLY:\n\nHasbro Gaming: Jenga Classi...
4,2023-04-17 07:12:32+00:00,Home__Education,"Discounts for Education Resources\nMaths, Engl..."
...,...,...,...
495,2023-04-14 22:33:00+00:00,MTSUNews,#MTSU is feeling energetic about its new #Quan...
496,2023-04-14 22:32:22+00:00,nerdygangstainc,"Thank you to the Marion Law Academy family, Pr..."
497,2023-04-14 22:27:59+00:00,InnovationSCLA,"Hey everyone, \nThe STEM Night &amp; Design Gu..."
498,2023-04-14 22:18:01+00:00,iamangelfdn,#Learn how ocean currents work üåä\n\nüé•: @scienc...
499,2023-04-14 22:16:20+00:00,UCDEducation,"At 2:50pm, @DrAPW15 shares ‚ÄúBuilding Bold, Bra..."